package-lock.json
yarn.lock
node_modules
npm_packages
.DS_Store
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Custom ###
download/
.log
